{{!< default}}
<div id="home">
<!--     <div class="cover">
        {{#if @blog.cover}}
            <img src="{{@blog.cover}}">
        {{/if}}
    </div> -->
    <div class="posts">
        {{> posts this}}
    </div>
</div>